.vue-notification-group {
	display: block;
	position: fixed;
	z-index: 10000;
  }
  
  .vue-notification-wrapper {
	display: block;
	overflow: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
  }
  
  .notification-title {
	font-weight: 600;
    font-size: 16px;
	margin-bottom: 5px;
  }
  
  .vue-notification-template {
	display: block;	
	box-sizing: border-box;	
	background: white;	
	text-align: left;	
  }
  
  .vue-notification {
	box-sizing: border-box;  
	text-align: left;
	margin: 0 5px 5px;
	padding: 10px;
	background-color: #323232;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;

	color: #fff;
    font-size: 14px;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.3;
    /* padding: 0 20px; */
  
	color: white;
	border-left: 8px solid #0095f1;

	display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .close-button {
	  cursor: pointer;
	  padding: 5px;
	  border-left: solid 1px #666666;
  }

  .notification-wrapper {
	  display: flex;
	  flex-direction: column;
  }
  
  .vue-notification.warn {
	border-left-color: #ff9900;
  }
  
  .vue-notification.error {
	border-left-color: #d85d48;
  }
  
  .vue-notification.success {
	border-left-color: #19a652;
  }
  
  .vn-fade-enter-active, .vn-fade-leave-active, .vn-fade-move  {
	transition: all .5s;
  }
  
  .vn-fade-enter, .vn-fade-leave-to {
	opacity: 0;
  }